## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A **database** is a system used to store, organize, and manage data. It allows easy access, management, and updating of information.

## Difference Between SQL and NoSQL Databases

| **Feature**      | **SQL Databases**                       | **NoSQL Databases**                     |
|------------------|-----------------------------------------|-----------------------------------------|
| **Structure**    | Relational (tables, rows, columns)      | Non-relational (key-value, documents, graphs) |
| **Language**     | Structured Query Language (SQL)         | Varies (key-value, document queries, etc.)  |
| **Scalability**  | Vertical scaling (increasing server power) | Horizontal scaling (adding more servers)  |
| **Schema**       | Fixed schema                            | Flexible schema (different data types)  |
| **Transactions** | Supports ACID (Atomicity, Consistency, Isolation, Durability) | Less support for ACID, more flexible |
| **Use Cases**    | Best for structured data (banking, finance) | Best for unstructured or large-scale data (social media, real-time analytics) |

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It consists of SQL commands used to define and manage the structure of a database, such as creating, modifying, and deleting database objects like tables, views, and indexes.


### Commands in DDL:

1. **CREATE**:
   - **Purpose**: Used to create a new database object (e.g., a table, view, or index).
   - **Example**:
     ```sql
     CREATE TABLE students (
         student_id INT PRIMARY KEY,
         name VARCHAR(100),
         age INT
     );
     ```

2. **DROP**:
   - **Purpose**: Used to delete a database object, such as a table or view.
   - **Example**:
     ```sql
     DROP TABLE students;
     ```

3. **ALTER**:
   - **Purpose**: Used to modify an existing database object (e.g., adding, deleting, or modifying columns in a table).
   - **Example**:
     ```sql
     ALTER TABLE students ADD COLUMN email VARCHAR(100);
     ```

4. **TRUNCATE**:
   - **Purpose**: Used to remove all rows from a table but keeps the table structure intact (faster than DELETE).
   - **Example**:
     ```sql
     TRUNCATE TABLE students;
     ```

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

**DML** stands for **Data Manipulation Language**. It consists of SQL commands used to manage and manipulate the data within database tables. DML operations allow users to insert, update, delete, and retrieve data from a database.

### Commands in DML:

1. **INSERT**:
   - **Purpose**: Used to add new records (rows) into a table.
   - **Example**:
     ```sql
     INSERT INTO students (student_id, name, age)
     VALUES (1, 'John Doe', 20);
     ```

2. **UPDATE**:
   - **Purpose**: Used to modify existing records in a table.
   - **Example**:
     ```sql
     UPDATE students
     SET age = 21
     WHERE student_id = 1;
     ```

3. **DELETE**:
   - **Purpose**: Used to remove records from a table.
   - **Example**:
     ```sql
     DELETE FROM students
     WHERE student_id = 1;
     ```

## Q4. What is DQL? Explain SELECT with an example.

**DQL** stands for **Data Query Language**. It consists of SQL commands used to query (retrieve) data from a database. The main command in DQL is **SELECT**, which allows users to fetch data from one or more tables.

### SELECT Command:

- **Purpose**: Used to retrieve data from a database table.
- **Syntax**:
  ```sql
  SELECT column1, column2, ...
  FROM table_name
  WHERE condition;


- Example:
  ```sql
  SELECT name, age
  FROM students
  WHERE age > 18;

## Q5. Explain Primary Key and Foreign Key.

### Primary Key:

- **Primary Key** is a column or set of columns in a table that uniquely identifies each row in the table. It cannot contain **NULL** values, and each value must be unique.

### Foreign Key:
- **Foreign Key** is a column or set of columns in one table that refers to the Primary Key in another table. It is used to establish and enforce a link between the data in the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establishing the connection
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

cursor = conn.cursor()

cursor.execute("SELECT * FROM your_table")

results = cursor.fetchall()

for row in results:
    print(row)

conn.close()

1. cursor() Method: This method creates a cursor object that allows you to interact with the database. It is used to execute SQL queries and fetch data.


2. execute() Method: This method is used to execute an SQL query through the cursor object. It can run SELECT, INSERT, UPDATE, DELETE, or any other SQL commands.

## Q7. Give the order of execution of SQL clauses in an SQL query.

## Order of Execution of SQL Clauses

1. **FROM**: Specifies the table(s) to retrieve data from.
2. **JOIN**: Joins two or more tables together based on a condition.
3. **ON**: Specifies the condition for the JOIN.
4. **WHERE**: Filters the rows based on a condition.
5. **GROUP BY**: Groups the rows based on one or more columns.
6. **HAVING**: Filters groups created by the GROUP BY clause.
7. **SELECT**: Selects the columns to be retrieved.
8. **DISTINCT**: Removes duplicate rows from the result set.
9. **ORDER BY**: Sorts the result set based on one or more columns.
10. **LIMIT**: Limits the number of rows returned by the query.