Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
String="Aniket","Ashok","Aditya"

In [2]:
print(String)

('Aniket', 'Ashok', 'Aditya')

In [3]:
List=["anu",10,20,2.2,True]

In [4]:
print(List)

['anu', 10, 20, 2.2, True]

In [5]:
Float=2.2

In [6]:
print(Float)

2.2

In [7]:
Tuple=(20,30,40,"anu")

In [8]:
print(Tuple)

(20, 30, 40, 'anu')

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.

What will be the data type of the above given variable.

In [9]:
var1=''

In [10]:
type(var1)

str

In [11]:
var2='[DS,ML,Python]'

In [12]:
type(var2)

str

In [13]:
var3=['DS','ML','Python']

In [14]:
type(var3)

list

In [15]:
var4=1

In [16]:
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

(i)	/ : division operator is used to divide a number by another number

In [17]:
a=10
b=5
c=a/b
print(c)

2.0

(ii) % : modulus operator is used to get remainder of division

In [18]:
a=11%2
print(a)

1

(iii) //: floor division operator is used to get absolute division answer

In [19]:
b=11//2
print(b)

5

(iv) ** : exponentiation operator is used to get square & cube of number

In [20]:
c=10**2
print(c)

d=10**3
print(d)

100
1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
List = [10,11, "anu", 3.14, True, [1, 2, 3], ("apple", "banana"), False, [10,20,30], 2.2]

for data in List:
    print(data, type(data))

10 <class 'int'>
11 <class 'int'>
anu <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
('apple', 'banana') <class 'tuple'>
False <class 'bool'>
[10, 20, 30] <class 'list'>
2.2 <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [22]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

if A % B == 0:
    count = A // B  
    print(B, "can divide", A , "," , count, " times.")
else:
    print(B, "can't divide", A, "purely.")

Enter number A:  10
Enter number B:  2

2 can divide 10 , 5  times.

In [23]:
List=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in List:
    if i%3==0:
        print("element is divisible by 3")
    else:
        print("element is not divisible by 3")

element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable: The data types which can be modified after their creation are mutable datatypes, means we can change their value.

1. List

In [31]:
List=[1,2,3,4,5]
List.append(6)
print(List)

[1, 2, 3, 4, 5, 6]

2. Set

In [33]:
Set={1,2,3,4,5}
Set.add(6)
print(Set)

{1, 2, 3, 4, 5, 6}

Immutable: The data types which cannot be modified after their creation are immutable datatypes, means we cannot change their value.

1. Tuple

In [35]:
Tuple=(1,2,3,4,5)

2. Integers

In [36]:
Integer=10