Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [6]:
# List of tuples
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data= sorted(data, key=lambda x:x[1])
print(sorted_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# Given list of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using map and lambda to find the squares of all numbers in the list
squares = list(map(lambda x: x ** 2, numbers))

# Printing the list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [11]:
# Given list of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using map and lambda to convert each integer to a string
strings = tuple(map(lambda x: str(x), numbers))

# Printing the tuple of strings
print(strings)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [12]:
from functools import reduce

# List of numbers from 1 to 25
numbers = list(range(1, 26))

# Using reduce to compute the product of the list
product = reduce(lambda x, y: x * y, numbers)

# Printing the product
print(product)

15511210043330985984000000

In [15]:
from functools import reduce

# List of numbers from 1 to 25
numbers = list(range(1, 26))

# Define a function to multiply two numbers
def multiply(x, y):
    return x * y

# Using reduce to compute the product of the list with the multiply function
product = reduce(multiply, numbers)

# Printing the product
print(product)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [17]:
# Given list of numbers
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Define a function to check if a number is divisible by both 2 and 3
def is_divisible_by_2_and_3(x):
    return x % 2 == 0 and x % 3 == 0

# Using filter to get numbers divisible by both 2 and 3
# The filter function applies is_divisible_by_2_and_3 to each element in numbers
filtered_numbers = list(filter(is_divisible_by_2_and_3, numbers))

# Printing the filtered numbers
print(filtered_numbers)

[6, 60, 90, 120]

In [22]:
num=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filter_num=list(filter(lambda x: x % 2== 0 and x % 3==0 , num))

print(filter_num)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.

['python', 'php', 'aba', 'radar', 'level']

In [23]:
# Given list of strings
words = ['python', 'php', 'aba', 'radar', 'level']

# Using filter with a lambda function to find palindromes
palindromes = list(filter(lambda x: x == x[::-1], words))

# Printing the palindromes
print(palindromes)

['php', 'aba', 'radar', 'level']