Q1. How do you comment code in Python? What are the different types of comments?

in python there are two types for commenting any block or statements like single line comment and multi line comment
1. single line comment
for single line comment we use '#'. below i have give a example for single line comment.

In [1]:
#this is single line comment

2. multi line comment
for for multi line comment we use ''' in starting and ending of statements. below i have give a example for multi line comment.

In [2]:
'''this is multi line comment'''

'this is multi line comment'

Q2. What are variables in Python? How do you declare and assign values to variables?

variable are used in Python for storing and manipulating or managing the data, they can hold the various types of datatypes like int , float,etc.
we can declare variable by any name.

In [1]:
a=10       #int
b=2.2      #float
c="andy"   #string
d=True     #boolean

#we can change the value of any varibale after reassigining it

a=100
#here the value of "a" is 10 ealry but now it is 100

Q3. How do you convert one data type to another in Python?

we can convert the on data type to another in Python using the type casting.
Example,

In [13]:
#integer to string
num=123
in_str = str(num)
type (num_str)

list

#touple to list
tuple=(1,2,3,4,5)
in_list= list(tuple)
type(in_list)

In [12]:
x=1
in_bool=bool(x)
type(in_bool)

bool

Q4. How do you write and execute a Python script from the command line?

To execute a Python script from the command line follow following commands
 1. open the notepad and write any simple code like, print("Hello World") and then save the file by any name with extension of .py.
 2. open the cmd and write the cd command for locating that txt file like if your file is at dextop then write cd dextop.
 3. after getting path in cmd write the name of file and hit enter, your code will execute.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [18]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

in mathematics the complex num is the num which is represented in the form of 'a + ib'.
in this a is the part of real value and b is the part of imaginary value, and i is knows as iota.

In [24]:
#we can create a complex num usinf following command
Z= complex(7,8)
print(Z)

#Example
a= 3+5j
type(a)

(7+8j)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [26]:
#The correct way to declare a variable named age and assign the value 25 is as follows,

age = 25

#here age is the variabel, = is the operator, 25 is the value or paramater

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [27]:
price = 9.99

# to get know What data type does this variable belong to
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [28]:
name = "Aniket Vitthal Andhale"
print(name)

Aniket Vitthal Andhale

Q10. Given the string "Hello, World!", extract the substring "World".

In [36]:
string = "Hello, World!"
sub_string = string[6:12]
print(sub_string)

 World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [38]:
is_student= True