In [ ]:
#https://www.mongodb.com/

In [2]:
pip install pymongo

Collecting pymongoNote: you may need to restart the kernel to use updated packages.

  Downloading pymongo-4.10.1-cp312-cp312-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp312-cp312-win_amd64.whl (926 kB)
   ---------------------------------------- 0.0/926.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/926.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/926.7 kB ? eta -:--:--
   ----------- ---------------------------- 262.1/926.7 kB ? eta -:--:--
   ---------------------- ----------------- 524.3/926.7 kB 1.5 MB/s eta 0:00:01
   --------------------------------- ------ 786.4/926.7 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 926.7/926.7 kB 1.1 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [24]:
# it will connect your Python application to a MongoDB Atlas cluster using the pymongo library.

import pymongo
client = pymongo.MongoClient("mongodb+srv://aniketandhale:Password@cluster0.lsikz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db = client.test

In [25]:
db

Database(MongoClient(host=['cluster0-shard-00-01.lsikz.mongodb.net:27017', 'cluster0-shard-00-00.lsikz.mongodb.net:27017', 'cluster0-shard-00-02.lsikz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-2mf1ye-shard-0', tls=True), 'test')

In [26]:
client = pymongo.MongoClient("mongodb+srv://aniketandhale:Password@cluster0.lsikz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

In [33]:
# creates a database named my_database

db = client['my_database']

In [34]:
# first document or data insertion. it is an JSON dataformat

data = {"name" : "anu" ,
        "class" :"data science masters " ,
        "time" : "flexi"}

In [35]:
# store the collection name in "my_collection" named variable

my_collection = db["first_collection"]

In [36]:
# insert_one is used to insert one records

my_collection.insert_one(data)

InsertOneResult(ObjectId('67856987c46fb11fee7171f1'), acknowledged=True)

In [37]:
data1 = {"mail_id" : "anu@gmail.com",
         "phone_number " : 2323424324,
         "addr" : "Sambhajinagar"
}

In [38]:
my_collection.insert_one(data1)

InsertOneResult(ObjectId('67856994c46fb11fee7171f2'), acknowledged=True)

In [39]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [40]:
# insert_many is used to insert multiple records

my_collection.insert_many(data2)

InsertManyResult([ObjectId('678569a4c46fb11fee7171f3'), ObjectId('678569a4c46fb11fee7171f4'), ObjectId('678569a4c46fb11fee7171f5'), ObjectId('678569a4c46fb11fee7171f6'), ObjectId('678569a4c46fb11fee7171f7'), ObjectId('678569a4c46fb11fee7171f8'), ObjectId('678569a4c46fb11fee7171f9'), ObjectId('678569a4c46fb11fee7171fa'), ObjectId('678569a4c46fb11fee7171fb'), ObjectId('678569a4c46fb11fee7171fc'), ObjectId('678569a4c46fb11fee7171fd'), ObjectId('678569a4c46fb11fee7171fe')], acknowledged=True)

In [41]:
data3 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [42]:
my_collection.insert_one(data3)

InsertOneResult(ObjectId('6785776bc46fb11fee7171ff'), acknowledged=True)

In [43]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},

    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},

    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [44]:
my_collection.insert_many(list_of_records)

InsertManyResult([ObjectId('67857790c46fb11fee717200'), ObjectId('67857790c46fb11fee717201'), ObjectId('67857790c46fb11fee717202')], acknowledged=True)

In [45]:
# retrieves the first document from the first_collection collection.

my_collection.find_one()

{'_id': ObjectId('67856987c46fb11fee7171f1'),
 'name': 'anu',
 'class': 'data science masters ',
 'time': 'flexi'}

In [47]:
# # retrieves the all document from the first_collection collection.

for i in my_collection.find():
    print(i)

{'_id': ObjectId('67856987c46fb11fee7171f1'), 'name': 'anu', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('67856994c46fb11fee7171f2'), 'mail_id': 'anu@gmail.com', 'phone_number ': 2323424324, 'addr': 'Sambhajinagar'}
{'_id': ObjectId('678569a4c46fb11fee7171f3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('678569a4c46fb11fee7171f4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('678569a4c46fb11fee7171f5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('678569a4c46fb11fee7171f6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('678569a4c46fb11fee7171f7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('678569a4c46fb11fee7171f8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('678569a4c46fb11fee7171f9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('678569a4c46fb11fee7171fa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('678569a4c46fb11fee7171fb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('678569a4c46fb11fee7171fc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('678569a4c46fb11fee7171fd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('678569a4c46fb11fee7171fe'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6785776bc46fb11fee7171ff'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('67857790c46fb11fee717200'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('67857790c46fb11fee717201'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('67857790c46fb11fee717202'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [51]:
# it willl retrive the all records where that give key value is present 

for i in my_collection.find({'name': 'anu'}):
    print(i)

{'_id': ObjectId('67856987c46fb11fee7171f1'), 'name': 'anu', 'class': 'data science masters ', 'time': 'flexi'}

In [ ]:
for i in my_collection.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': ObjectId('67857790c46fb11fee717200'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('67857790c46fb11fee717201'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('67857790c46fb11fee717202'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [53]:
# till now our Records are taking by default IDs. But here in below code, we are providing custom id

random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [54]:
my_collection.insert_many(random_data)

InsertManyResult(['3', '4', '5'], acknowledged=True)

In [55]:
for i in  my_collection.find():
    print(i)

{'_id': ObjectId('67856987c46fb11fee7171f1'), 'name': 'anu', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('67856994c46fb11fee7171f2'), 'mail_id': 'anu@gmail.com', 'phone_number ': 2323424324, 'addr': 'Sambhajinagar'}
{'_id': ObjectId('678569a4c46fb11fee7171f3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('678569a4c46fb11fee7171f4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('678569a4c46fb11fee7171f5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('678569a4c46fb11fee7171f6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('678569a4c46fb11fee7171f7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('678569a4c46fb11fee7171f8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('678569a4c46fb11fee7171f9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('678569a4c46fb11fee7171fa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('678569a4c46fb11fee7171fb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('678569a4c46fb11fee7171fc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('678569a4c46fb11fee7171fd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('678569a4c46fb11fee7171fe'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6785776bc46fb11fee7171ff'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('67857790c46fb11fee717200'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('67857790c46fb11fee717201'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('67857790c46fb11fee717202'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [ ]:
# retrieves all documents  where the _id is greater than or equal to '4'

for i in my_collection.find({"_id" :{"$gte" : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [56]:
# This code updates all documents in the first_collection where companyName is 'iNeuron', setting the companyName to 'anu_company'.

my_collection.update_many({'companyName': 'iNeuron'} , {"$set" : {'companyName': 'anu_company'}})

UpdateResult({'n': 6, 'electionId': ObjectId('7fffffff000000000000005e'), 'opTime': {'ts': Timestamp(1736800894, 24), 't': 94}, 'nModified': 6, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1736800894, 24), 'signature': {'hash': b'\xe9@\xf7\xc9\xe4\xc8\t\xde\x1fe\x82Jn}\xc7\x00=u%\xc4', 'keyId': 7428503357020438539}}, 'operationTime': Timestamp(1736800894, 24), 'updatedExisting': True}, acknowledged=True)

In [57]:
for i in  my_collection.find():
    print(i)

{'_id': ObjectId('67856987c46fb11fee7171f1'), 'name': 'anu', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('67856994c46fb11fee7171f2'), 'mail_id': 'anu@gmail.com', 'phone_number ': 2323424324, 'addr': 'Sambhajinagar'}
{'_id': ObjectId('678569a4c46fb11fee7171f3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('678569a4c46fb11fee7171f4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('678569a4c46fb11fee7171f5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('678569a4c46fb11fee7171f6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('678569a4c46fb11fee7171f7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('678569a4c46fb11fee7171f8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('678569a4c46fb11fee7171f9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('678569a4c46fb11fee7171fa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('678569a4c46fb11fee7171fb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('678569a4c46fb11fee7171fc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('678569a4c46fb11fee7171fd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('678569a4c46fb11fee7171fe'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6785776bc46fb11fee7171ff'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('67857790c46fb11fee717200'), 'companyName': 'anu_company', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('67857790c46fb11fee717201'), 'companyName': 'anu_company', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('67857790c46fb11fee717202'), 'companyName': 'anu_company', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'anu_company', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'anu_company', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'anu_company', 'Faculty': 'PQR'}

In [58]:
# Delete One Document

my_collection.delete_one({'_id': '4'})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000005e'), 'opTime': {'ts': Timestamp(1736801074, 14), 't': 94}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1736801074, 16), 'signature': {'hash': b'\xf0O\xd6`\xb2\x93\xb8\x911t\x05x@\x81\xce\x8d\xb9)\xc4\x14', 'keyId': 7428503357020438539}}, 'operationTime': Timestamp(1736801074, 14)}, acknowledged=True)

In [59]:
# Delete Multiple Documents

my_collection.delete_many({'companyName': 'anu_company'})

DeleteResult({'n': 5, 'electionId': ObjectId('7fffffff000000000000005e'), 'opTime': {'ts': Timestamp(1736803261, 7), 't': 94}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1736803261, 7), 'signature': {'hash': b'?\xc4\x9f(\x942\x9aS\xd5\xae\xde\xce\x7f\xbd\x95qp\x19\x9d\xeb', 'keyId': 7428503357020438539}}, 'operationTime': Timestamp(1736803261, 7)}, acknowledged=True)

In [60]:
for i in  my_collection.find():
    print(i)

{'_id': ObjectId('67856987c46fb11fee7171f1'), 'name': 'anu', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('67856994c46fb11fee7171f2'), 'mail_id': 'anu@gmail.com', 'phone_number ': 2323424324, 'addr': 'Sambhajinagar'}
{'_id': ObjectId('678569a4c46fb11fee7171f3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('678569a4c46fb11fee7171f4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('678569a4c46fb11fee7171f5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('678569a4c46fb11fee7171f6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('678569a4c46fb11fee7171f7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('678569a4c46fb11fee7171f8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('678569a4c46fb11fee7171f9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('678569a4c46fb11fee7171fa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('678569a4c46fb11fee7171fb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('678569a4c46fb11fee7171fc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('678569a4c46fb11fee7171fd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('678569a4c46fb11fee7171fe'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6785776bc46fb11fee7171ff'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}

In [61]:
# Count Documents

print(my_collection.count_documents({'companyName': 'anu_company'}))

0